---
const {
    attributes: {
        accept,
        disabled,
        id,
        label,
        max,
        maxlength,
        min,
        minlength,
        name,
        placeholder,
        readonly,
        required,
        size = "col-span-12",
        step,
        type,
    },
} = Astro.props;
---

<div class={size}>
    <label class="block text-sm font-medium leading-6 text-gray-900" for={id}
        >{label}</label
    >
    <div class="mt-2">
        <input
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-emerald-950 sm:text-sm sm:leading-6"
            {accept}
            {disabled}
            {id}
            {max}
            {maxlength}
            {min}
            {minlength}
            {name}
            {placeholder}
            {readonly}
            {required}
            {step}
            {type}
            x-model={Astro.props.attributes["x-model"]}
        />
    </div>
</div>
